<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/App_Themes/Tema1/StyleSheet1.css" rel="stylesheet" type="text/css" / >
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Titulo da Página-->
    <title>@ViewBag.Title</title>
    <!--Chamada de arquivos css-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Barra de navegação-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <img class="logo" src="https://attributor.com.br/wp-content/uploads/2018/12/logo.png"/>
                    <li>@Html.ActionLink("Desafio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre a empresa", "About", "Home")</li>
                    <li>@Html.ActionLink("Informações do projeto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</head>
<br />
<body>
    <!--Corpo da Página/Chamada da View-->
    <div class="container body-content">
        @RenderBody()
    </div>
    <!--Agrupamento dos scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
